:root{
--width-container:100%;
--elements-displayed:7;
// --all-elements: 14;
--elements-width: calc(var(--width-container) / var(--elements-displayed));
--animation-duration: calc(var(--all-elements) * 4s);

}

